<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <arg name="filter_type" default="complementary"/>
    <arg name="enable_imu_trigger" default="true"/>

    <include file="$(find galaxy_camera)/launch/MER-139.launch">
        <arg name="enable_imu_trigger" value="$(arg enable_imu_trigger)"/>
    </include>

    <include file="$(find rm_config)/launch/rm_hw.launch"/>

    <rosparam file="$(find rm_config)/config/rm_controllers/standard3.yaml"/>

    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load
          controllers/joint_state_controller
          controllers/robot_state_controller
          controllers/chassis_controller
          controllers/imu_filter_controller
          controllers/orientation_controller
   "/>
</launch>
